<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li class="active"><i class="fa fa-home"></i> Admin | Dashboard</li>
    </ul>
</div>
<div class="row">
    <div class="col-md-7">
        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tile">
                            <p class="title">Admin - Admin Template</p>
                            <p>Something useful.</p>
                            <div class="img img-bottom">
                                <i class="fa fa-desktop"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 tile-active">
                        <a class="tile tile-pink" data-stop="3000" href="">
                            <div class="img">
                                <i class="fa fa-copy"></i>
                            </div>
                            <div class="content">
                                <p class="big">130</p>
                                <p class="title">Snapshots</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a class="tile tile-blue" data-stop="3000" href="">
                            <div class="img">
                                <i class="fa fa-copy"></i>
                            </div>
                            <div class="content">
                                <p class="big">{{snapshots}}</p>
                                <p class="title">Snapshots</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-12 tile-active">
                        <div class="tile tile-magenta">
                            <div class="img">
                                <i class="fa fa-btc"></i>
                            </div>
                            <div class="content">
                                <p class="big">12300.00</p>
                                <p class="title">Balance</p>
                            </div>
                        </div>
                        <div class="tile tile-green">
                            <div class="img">
                                <i class="fa fa-cny"></i>
                            </div>
                            <div class="content">
                                <p class="big">7889991.00</p>
                                <p class="title">Balance</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="tile tile-green">
                            <div class="img">
                                <i class="fa fa-btc"></i>
                            </div>
                            <div class="content">
                                <p class="big">12300.00</p>
                                <p class="title">Balance</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="row">
            <div class="col-md-6">
                <div class="tile tile-orange">
                    <div class="img">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="content">
                        <p class="big">{{totalRegisteredUserCount}}</p>
                        <p class="title">Users Registered</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="tile tile-dark-blue">
                    <div class="img">
                        <i class="fa fa-download"></i>
                    </div>
                    <div class="content">
                        <p class="big">+160</p>
                        <p class="title">提现申请</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 tile-active">
                <div class="tile tile-img" data-stop="3500">
                    <p class="title">Gallery</p>
                </div>
                <a class="tile tile-lime" data-stop="5000" href="gallery.html">
                    <p class="title">Gallery page</p>
                    <p>Click on this tile block to see our amazing gallery page. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <div class="img img-bottom">
                        <i class="fa fa-picture-o"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-7">
        <div class="box box-black">
            <div class="box-title">
                <h3><i class="fa fa-retweet"></i> Snapshots</h3>
                <div class="box-tool">
                    <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                    <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="box-content">
                <ul class="things-to-do">
                    <li>
                        <p>
                            <i class="fa fa-clock-o"></i>
                            <span class="value">4</span>
                            2014-04-15 21:00:00
                            <a class="btn btn-success" href="#">Recover from it</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <i class="fa fa-clock-o"></i>
                            <span class="value">3</span>
                            2014-04-15 20:00:00
                            <a class="btn btn-success" href="#">Recover from it</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <i class="fa fa-clock-o"></i>
                            <span class="value">2</span>
                            2014-04-15 19:00:00
                            <a class="btn btn-success" href="#">Recover from it</a>
                        </p>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="box">
            <div class="box-title">
                <h3><i class="fa fa-bar-chart-o"></i> Weekly Visitors Stat</h3>
                <div class="box-tool">
                    <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                    <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="box-content">
                <ul class="weekly-stats">
                    <li>
                        <span class="inline-sparkline">134,178,264,196,307,259,287</span>
                        Visits: <span class="value">376</span>
                    </li>
                    <li>
                        <span class="inline-sparkline">89,124,197,138,235,169,186</span>
                        Unique Visitors: <span class="value">238</span>
                    </li>
                    <li>
                        <span class="inline-sparkline">625,517,586,638,669,698,763</span>
                        Page Views: <span class="value">514</span>
                    </li>
                    <li>
                        <span class="inline-sparkline">1.34,2.98,0.76,1.29,1.86,1.68,1.92</span>
                        Pages / Visit: <span class="value">1.43</span>
                    </li>
                    <li>
                        <span class="inline-sparkline">2.34,2.67,1.47,1.97,2.25,2.47,1.27</span>
                        Avg. Visit Time: <span class="value">00:02:34</span>
                    </li>
                    <li>
                        <span class="inline-sparkline">70.34,67.41,59.45,65.43,78.42,75.92,74.29</span>
                        Bounce Rate: <span class="value">73.56%</span>
                    </li>
                    <li>
                        <span class="inline-sparkline">78.12,74.52,81.25,89.23,86.15,91.82,85.18</span>
                        % New Visits: <span class="value">82.65%</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
