<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li class="active"><i class="fa fa-home"></i> Admin | Deposit</li>
    </ul>
</div>

<div>
    <div class="box">
        <div class="box-title">
            <h3><i class="fa fa-bars"></i> Deposit</h3>
            <div class="box-tool">
                <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                <a data-action="close" href="#"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <div class="box-content">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-3 col-lg-2 control-label">UID</label>
                    <div class="col-sm-9 col-lg-10 controls">
                        <input type="text" placeholder="UID" class="form-control" ng-model="payload.uid">
                        <span class="help-inline">check user <a target="_blank" href="https://coinport.com/user/{{payload.uid}}">{{payload.uid}}</a></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 col-lg-2 control-label">Amount</label>
                    <div class="col-sm-9 col-lg-10 controls">
                        <input type="text" placeholder="Amount" class="form-control" ng-model="payload.amount">
                        <span class="help-inline">deposit {{payload.amount}} {{payload.currency}} to user {{payload.uid}}</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 col-lg-2 control-label">Currency</label>
                    <div class="col-sm-9 col-lg-10 controls">
                      <!-- <select class="form-control" tabindex="1" ng-options="t.value as t.text for t in currencyList" ng-model="payload.currency"></select> -->
                      <input class="form-control" disabled="disabled" type="text" ng-model="payload.currency" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
                        <button type="button" class="btn btn-primary" ng-click="deposit()"><i class="fa fa-check"></i> Deposit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
