<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li class="active"><i class="fa fa-home"></i> Admin | Notifications</li>
    </ul>
</div>
<div>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Content</th>
            <th>Notification Type</th>
            <th>Removed</th>
            <th>Created</th>
            <th>Updated</th>
            <th>Language</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in notifications | orderBy: ['-id']" class="">
            <td> {{item.id}} </td>
            <td> {{item.title}} </td>
            <td> {{item.content}} </td>
            <td> {{item.ntype}} </td>
            <td> {{item.removed}} </td>
            <td> {{item.created | date:"MM-dd HH:mm:ss"}} </td>
            <td> {{item.updated | date:"MM-dd HH:mm:ss"}} </td>
            <th> {{item.lang}}</th>
            <td> <button class="btn btn-danger" ng-click="remove(item)" >Remove</button> </td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <tr>
    <input type="string" name="title" class="form-control" placeholder='title' ng-model="notification.title"  required>
    <input type="string" name="content" class="form-control" placeholder='content' ng-model="notification.content"  required>
     <select ng-options="t.value as t.text for t in ntypes" ng-model="notification.ntype"></select>
    </tr>
</div>
<div>
    <button class="btn btn-success" ng-click="save()">Save</button>
</div>