<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li class="active"><i class="fa fa-home"></i> Admin | 用户管理 </li>
    </ul>
</div>

<div class="row" id="searchDiv" ng-show="showSearchDiv">
    <div class="col-md-8">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-md-2" for="username" align="right">User Name</label>
                <input class="col-md-4" id="username" ng-model="search.username"/>
            </div>
            <div class="form-group">
                <label class="col-md-2" for="idFrom" align="right">User ID</label>
                <input class="col-md-4" id="idFrom" ng-model="search.idFrom" placeholder="From"/>
                <span class="col-md-1" align="center"> - </span>
                <input class="col-md-4" id="idTo" ng-model="search.idTo" placeholder="To"/>
            </div>
            <div class="form-group">
                <button class="col-md-offset-2 col-md-1" type="submit" ng-click="listUser()"> 搜索 </button>
            </div>
        </form>

        <div style="height: 20px"> </div>
        <div ng-show="showError">
            <p ng-bind="errorMessage"></p>
        </div>
    </div>

</div>

<div id="searchResultDiv" ng-show="showSearchResDiv">
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>User ID</th>
                <th>User Name</th>
                <th>Email verified</th>
                <th>Mobile verified</th>
                <th>Status</th>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in searchResult">
                <td>{{user.id}}</td>
                <td>{{user.email}}</td>
                <td>{{user.emailVerified}}</td>
                <td>{{user.mobileVerified}}</td>
                <td>{{user.status}}</td>
                <td>
                    <button ng-click='getUserProfile(user.id)'>detail</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div id="userProfileDiv" ng-show="showProfileDiv">
    <div>
        <h4>Profile of {{userProfile.email}}</h4>
    </div>

    <div style="height: 20px;"></div>

    <div>
        <table class="userProfileTable">
            <tr>
                <th>ID</th>
                <td>{{userProfile.id}}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{userProfile.email}}</td>
            </tr>
            <tr>
                <th>Emial verified</th>
                <td>{{userProfile.emailVerified}}</td>
            </tr>
            <tr>
                <th>Mobile</th>
                <td>{{userProfile.mobile}}</td>
            </tr>
            <tr>
                <th>Mobile verified</th>
                <td>{{userProfile.mobileVerified}}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{userProfile.status}}</td>
            </tr>
        </table>
    </div>

    <div style="height: 30px"></div>
    <div class="col-sm-offset-1">
        <button ng-click="suspendUser(userProfile.id)" ng-hide="userProfile.status != 'Normal'">suspend</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button ng-click="resumeUser(userProfile.id)" ng-hide="userProfile.status == 'Normal'">resume</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button ng-click="backToSearch()">back</button>
    </div>

    <div class="error-container" ng-show="showUserProfileError">
        <p>{{userProfileError}}</p>
    </div>

    <div style="height: 100px"></div>

</div>
