@()
<div id="sidebar" class="navbar-collapse collapse">
    <ul class="nav nav-list" cp-nav>
        <!--<li>-->
            <!--<form target="#" method="GET" class="search-form">-->
<!--<span class="search-pan">-->
<!--<button type="submit">-->
    <!--<i class="fa fa-search"></i>-->
<!--</button>-->
<!--<input type="text" name="search" placeholder="Search ..." autocomplete="off" />-->
<!--</span>-->
            <!--</form>-->
        <!--</li>-->
        <li class="active" route="#/">
            <a href="#">
                <i class="fa fa-dashboard"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li route="#/notification">
            <a href="#/notification">
                <i class="fa fa-envelope"></i>
                <span>Notifications</span>
            </a>
        </li>
        <li route="#/transfer">
            <a href="#/transfer">
                <i class="fa fa-money"></i>
                <span>Transfer</span>
            </a>
        </li>
        <li route="#/monitor">
            <a href="#/monitor">
                <i class="fa fa-btc"></i>
                <span>Monitor</span>
            </a>
        </li>
        <li route="#/users">
            <a href="#/users">
                <i class="fa fa-users"></i>
                <span>Users</span>
            </a>
        </li>
        <!--<li>-->
            <!--<a href="#" class="dropdown-toggle">-->
                <!--<i class="fa fa-cog"></i>-->
                <!--<span>Config</span>-->
                <!--<b class="arrow fa fa-angle-right"></b>-->
            <!--</a>-->
            <!--<ul class="submenu">-->
                <!--<li><a href="#/">子菜单</a></li>-->
                <!--<li><a href="#/">子菜单</a></li>-->
                <!--<li><a href="#/">子菜单</a></li>-->
            <!--</ul>-->
        <!--</li>-->
    </ul>
    <div id="sidebar-collapse" class="visible-lg">
        <i class="fa fa-angle-double-left"></i>
    </div>
</div>
