@()
<div id="sidebar" class="navbar-collapse collapse">
    <ul class="nav nav-list">
        <!--<li>-->
            <!--<form target="#" method="GET" class="search-form">-->
<!--<span class="search-pan">-->
<!--<button type="submit">-->
    <!--<i class="fa fa-search"></i>-->
<!--</button>-->
<!--<input type="text" name="search" placeholder="Search ..." autocomplete="off" />-->
<!--</span>-->
            <!--</form>-->
        <!--</li>-->
        <li class="active">
            <a href="#">
                <i class="fa fa-dashboard"></i>
                <span>控制面板</span>
            </a>
        </li>
        <li>
            <a href="#/deposit">
                <i class="fa fa-cny"></i>
                <span>充值管理</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-money"></i>
                <span>提现管理</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-btc"></i>
                <span>提币管理</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-users"></i>
                <span>用户管理</span>
            </a>
        </li>
        <li>
            <a href="#" class="dropdown-toggle">
                <i class="fa fa-cog"></i>
                <span>帐号设置</span>
                <b class="arrow fa fa-angle-right"></b>
            </a>
            <ul class="submenu">
                <li><a href="#/">子菜单</a></li>
                <li><a href="#/">子菜单</a></li>
                <li><a href="#/">子菜单</a></li>
            </ul>
        </li>
    </ul>
    <div id="sidebar-collapse" class="visible-lg">
        <i class="fa fa-angle-double-left"></i>
    </div>
</div>